<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Webshop</title>
</head>
<body>
<div class="container">
<h1>Vareliste</h1>
<!-- varetabel -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">Varenavn</th>
        <th scope="col">Pris</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}" scope="row">
        <td th:text="${product.name}">kaffe</td>
        <td th:text="${product.price}">35</td>
        <td><a th:href="@{'/update/' + ${product.id}}" class="btn btn-warning">opdater</a></td>
        <td><a th:href="@{'/delete/' + ${product.id}}" class="btn btn-danger">slet</a></td>
    </tr>
    </tbody>

</table>

<a href="create" class="btn btn-primary">Opret produkt</a>
</div>
</body>
</html>