<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Webshop</title>
</head>
<body>

<h1>Vareliste</h1>
<!-- varetabel -->
<table>
    <thead>
    <tr>
        <th>Varenavn</th>
        <th>Pris</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">kaffe</td>
        <td th:text="${product.price}">35</td>
        <td><a th:href="@{'/update/' + ${product.id}}">opdater</a></td>
        <td><a th:href="@{'/delete/' + ${product.id}}">slet</a></td>
    </tr>
    </tbody>

</table>

<a href="create">Opret product</a>

</body>
</html>